@page
@model PRN222.MilkTeaShop.Manager.Pages.Manager.MilkTeas.IndexModel

@{
    Layout = "~/Pages/Shared/_ManagerLayout.cshtml";
    ViewData["HeaderTitle"] = "MilkTea";
}
<div class="d-flex justify-content-between align-items-center">
    <input placeholder="Search by name"/>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>    
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdatedAt)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                <img class="rounded me-2" width="40px" src="@item.ImageUrl" />

                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @foreach (var productSize in item.ProductSizes)
                    {
                        <span>
                            @productSize.Size.Name: @(((int)productSize.Price).ToString("N0")) VND
                        </span>
                        <br />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
